{% extends "base_patient.html" %}

{% block content %}
    <section>
        <h2>Szczegóły wizyty</h2>
        <p><strong>Placówka:</strong> <a href="{% url 'facility_detail' pk=appointment.facility_id.id %}">{{ appointment.facility_id }}</a></p>
        <p><strong>Rodzaj wizyty:</strong> {{ appointment.service_id }}</p>
        <p><strong>Czas wizyty:</strong> {{ appointment.formatted_appointment_time }}</p>
        <p><strong>Status wizyty:</strong> {{ appointment.get_status_display }}</p>
        {% comment %} <br>
        <p><strong>Wizyta za </strong>{{ appointment.time_to_visit }}<strong> godzin</strong></p>
        <p><strong>Patient:</strong> {{ appointment.patient_id }}</p> {% endcomment %}
    </section>
{% endblock %}
