{% extends 'base_patient.html' %}
{% load static %}

{% block content %}
{% if messages %}
    {% endif %}
    <div class="container2">
        <ul class="popup-message">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <h2>Nadchodzące wizyty</h2>
        {% if future_appointments %}
            <ul class="appointments">
                {% for appointment in future_appointments %} 
                    <li>        
                        {{ appointment.service_id.doctor_id }}, {{ appointment.service_id.specialzation_id  }}
                    </li>
                    <li>        
                        {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                    </li>
                    <li>
                        <form action="{% url 'detail_cancel_appointment' pk=appointment.id %}">
                            {% csrf_token %}
                            <button type="submit" id="topright">Szczegóły</button>
                        </form>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>Brak nadchodzących wizyt.</p>
        {% endif %}  
        
        <h2>Przeszłe wizyty</h2>
        {% if past_appointments %}
            <ul class="appointments">
                {% for appointment in past_appointments %} 
                    <li>        
                        {{ appointment.service_id.doctor_id }}, {{ appointment.service_id.specialzation_id  }}
                    </li>
                    <li>        
                        {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                    </li>
                    <li>
                        <form action="{% url 'appointment_detail' pk=appointment.id %}">
                            {% csrf_token %}
                            <button type="submit" id="topright">Szczegóły</button>
                        </form>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% else %}
            <p>Brak przeszłych wizyt.</p>
        {% endif %} 
    </div>

{% endblock %}
