{% extends 'base_patient.html' %}
{% load static %}

{% block content %}
{% if messages %}
    <div class="container"style="width: 40vw">
        <div class="alert alert-success alert-dismissible" id="myAlert">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            <button type="button" class="close"  style="width: 15px; float:inline-end">&times;</button>
        </div>
    </div>
    <script>
        $(document).ready(function(){
          $(".close").click(function(){
            $("#myAlert").alert("close");
          });
        });
    </script>
    {% endif %}
    <main class="container-fluid" style="justify-content: space-evenly; align-items: center;">
        <div class="row" >
            <section class="col-*-*" style="width: 30vw; height: 520px;">
                <h2>Przeszłe wizyty</h2>
                <br>
                <form action="" method="get">
                    {% csrf_token %}
                    <input placeholder="Search" type="search" class="search_input" style="grid-area: search_box1" name="search_past" value="{{ search_past }}">
                    <button type="submit" id="topright">Search</button>
                </form>
                {% if past_appointments %}
                    <div class="scroll-container" style="width: 30vw; height: 300px;">
                        <ul class="appointments">
                            {% for appointment in past_appointments %} 
                                <li>        
                                    {{ appointment.service_id.doctor_id }}, {{ appointment.service_id.specialzation_id  }}
                                </li>
                                <li>        
                                    {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                                </li>
                                <div class="button-container">
                                    <form action="{% url 'appointment_detail' pk=appointment.id %}">
                                        {% csrf_token %}
                                        <button type="submit" id="topright">Szczegóły</button>
                                    </form>
                                </div>
                                <br>
                            {% endfor %}
                            <div class="pagination" style="justify-content: center;">
                                <span class="step-links">
                                    {% if past_appointments.has_previous %}
                                        <a href="?page=1" style="text-decoration: none; color: black">&laquo; first</a>
                                        <a href="?page={{ past_appointments.previous_page_number }}" style="text-decoration: none; color: black">previous</a>
                                    {% endif %}
                        
                                    <span class="current">
                                        Page {{ past_appointments.number }} of {{ past_appointments.paginator.num_pages }}.
                                    </span>
                        
                                    {% if past_appointments.has_next %}
                                        <a href="?page={{ past_appointments.next_page_number }}" style="text-decoration: none; color: black">next</a>
                                        <a href="?page={{ past_appointments.paginator.num_pages }}" style="text-decoration: none; color: black">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </ul>
                    </div>
                {% else %}
                    <p>Brak przeszłych wizyt.</p>
                {% endif %}
            </section>           
            &nbsp;
            <section class="col-*-*" style="width: 30vw; height: 520px;">
                <h2>Zarezerwowane wizyty</h2>
                <br>
                <form action="" method="get">
                    {% csrf_token %}
                    <input placeholder="Search" type="search" class="search_input" style="grid-area: search_box1" name="search_booked" value="{{ search_booked }}">
                    <button type="submit" id="topright">Search</button>
                </form>
                {% if booked_appointments %}
                    <div class="scroll-container" style="width: 30vw; height: 300px;">
                        <ul class="appointments">
                            {% for appointment in booked_appointments %} 
                                <li>        
                                    {{ appointment.service_id.doctor_id }}, {{ appointment.service_id.specialzation_id  }}
                                </li>
                                <li>        
                                    {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                                </li>
                                <div class="button-container">
                                    <form action="{% url 'detail_cancel_appointment' pk=appointment.id %}">
                                        {% csrf_token %}
                                        <button type="submit" id="topright" style="font-size: 15px;">Szczegóły</button>
                                    </form>
                                    {% if appointment.status == 'b' and 6 >= appointment.time_to_visit %}
                                        <form action="{% url 'confirm_appointment' pk=appointment.id %}">
                                            {% csrf_token %}
                                            <button type="submit" id="topright" style="font-size: 15px;">Potwierdź wizytę</button>
                                        </form>
                                    {% endif %}
                                </div>
                                <br>
                            {% endfor %}
                            <div class="pagination" style="justify-content: center;">
                                <span class="step-links">
                                    {% if booked_appointments.has_previous %}
                                        <a href="?page=1" style="text-decoration: none; color: black">&laquo; first</a>
                                        <a href="?page={{ booked_appointments.previous_page_number }}" style="text-decoration: none; color: black">previous</a>
                                    {% endif %}
                        
                                    <span class="current">
                                        Page {{ booked_appointments.number }} of {{ booked_appointments.paginator.num_pages }}.
                                    </span>
                        
                                    {% if booked_appointments.has_next %}
                                        <a href="?page={{ booked_appointments.next_page_number }}" style="text-decoration: none; color: black">next</a>
                                        <a href="?page={{ booked_appointments.paginator.num_pages }}" style="text-decoration: none; color: black">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </ul>
                    </div>
                {% else %}
                    <p>Brak zarezerwowanych wizyt.</p>
                {% endif %}  
            </section>            
            &nbsp;
            <section class="col-*-*" style="width: 30vw; height: 520px;">
                <h2>Potwierdzone wizyty</h2>
                <br>
                <form action="" method="get">
                    {% csrf_token %}
                    <input placeholder="Search" type="search" class="search_input" style="grid-area: search_box1" name="search_confirmed" value="{{ search_confirmed }}">
                    <button type="submit" id="topright">Search</button>
                </form>
                {% if confirmed_appointments %}
                    <div class="scroll-container" style="width: 30vw; height: 300px;">
                        <ul class="appointments">
                            {% for appointment in confirmed_appointments %} 
                                <li>        
                                    {{ appointment.service_id.doctor_id }}, {{ appointment.service_id.specialzation_id  }}
                                </li>
                                <li>        
                                    {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                                </li>
                                <div class="button-container">
                                    <form action="{% url 'detail_cancel_appointment' pk=appointment.id %}">
                                        {% csrf_token %}
                                        <button type="submit" id="topright">Szczegóły</button>
                                    </form>
                                </div>
                                <br>
                            {% endfor %}
                            <div class="pagination" style="justify-content: center;">
                                <span class="step-links">
                                    {% if confirmed_appointments.has_previous %}
                                        <a href="?page=1" style="text-decoration: none; color: black">&laquo; first</a>
                                        <a href="?page={{ confirmed_appointments.previous_page_number }}" style="text-decoration: none; color: black">previous</a>
                                    {% endif %}
                        
                                    <span class="current">
                                        Page {{ confirmed_appointments.number }} of {{ confirmed_appointments.paginator.num_pages }}.
                                    </span>
                        
                                    {% if confirmed_appointments.has_next %}
                                        <a href="?page={{ confirmed_appointments.next_page_number }}" style="text-decoration: none; color: black">next</a>
                                        <a href="?page={{ confirmed_appointments.paginator.num_pages }}" style="text-decoration: none; color: black">last &raquo;</a>
                                    {% endif %}
                                </span>
                            </div>
                        </ul>
                    </div>
                {% else %}
                    <p>Brak potwierdzonych wizyt.</p>
                {% endif %}  
            </section>  
            
        </div>
    </main>

{% endblock %}
