{% extends "base_patient.html" %}
{% block content %}
<div class="container2">
    <h2>Informacje o Pacjencie</h2>
    <p><strong>Imię:</strong> {{ first_name }}</p>
    <p><strong>Nazwisko:</strong> {{ last_name }}</p>
    <p><strong>Numer Telefonu:</strong> {{ phone_number }}</p>
    <p><strong>PESEL:</strong> {{ pesel }}</p>
    <p><form action="{% url 'password_change' %}">
        {% csrf_token %}
        <button type="submit" id="topright">Zmień hasło</button>
    </form></p>
</div>
{% endblock %}