{% extends "base_patient.html" %}
{% block content %}
<section>
    <h2>Informacje o Pacjencie</h2>
    <p><strong>Imię:</strong> {{ first_name }}</p>
    <p><strong>Nazwisko:</strong> {{ last_name }}</p>
    <p><strong>Numer Telefonu:</strong> {{ phone_number }}</p>
    <p><strong>PESEL:</strong> {{ pesel }}</p>
    <p><form action="{% url 'patient_change_phone_number' %}">
        {% csrf_token %}
        <button type="submit" id="topright">Zmień numer nelefonu</button>
    </form></p>
    <p><form action="{% url 'patient_password_change' %}">
        {% csrf_token %}
        <button type="submit" id="topright">Zmień hasło</button>
    </form></p>
</section>
{% endblock %}