{% extends 'base_doctor.html' %}
{% load static %}
{% block content %}

<div class="container2" style="position:absolute; top: 30%; left: 30%; width: 40vw">
    <h2>Nadchodzące wizyty</h2>  
    {% if reserved_appointments %}
        <h3>Zarezerwowane</h3>
        {% regroup reserved_appointments by service_id.specialzation_id as grouped_appointments %}
        {% for specialization, appointments in grouped_appointments %}
            <h3>{{ specialization }}</h3>
            <ul class="appointments">
                {% for appointment in appointments %} 
                    <li>        
                        {{ appointment.patient_id }}
                    </li>
                    <li>        
                        {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                    </li>
                    <li>
                        <button><a href="{% url 'detail_cancel_appointment' pk=appointment.id %}">Szczegóły</a></button>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Brak nadchodzących zarezerwowanych wizyt.</p>
    {% endif %}  

    {% if available_appointments %}
        <h3>Dostępne</h3>
        {% regroup available_appointments by service_id.specialzation_id as grouped_appointments %}
        {% for specialization, appointments in grouped_appointments %}
            <h3>{{ specialization }}</h3>
            <ul class="appointments">
                {% for appointment in appointments %} 
                    <li>        
                        {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                    </li>
                    <li>
                        <button><a href="{% url 'detail_cancel_appointment' pk=appointment.id %}">Szczegóły</a></button>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Brak dostępnych wizyt.</p>
    {% endif %} 

    <h2>Przeszłe wizyty</h2>
        {% if past_appointments %}
            {% regroup past_appointments by service_id.specialzation_id as grouped_past_appointments %}
            {% for specialization, appointments in grouped_past_appointments %}
                <h3>{{ specialization }}</h3>
                <ul class="appointments">
                    {% for appointment in appointments %} 
                        <li>        
                            {{ appointment.patient_id }}
                        </li>
                        <li>        
                            {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                        </li>
                        <li>
                            <button><a href="{% url 'appointment_detail' pk=appointment.id %}">Szczegóły</a></button>
                        </li>
                        <br>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% else %}
            <p>Brak przeszłych wizyt.</p>
        {% endif %} 
    </div>

{% endblock %}
