{% extends "base_patient.html" %}
{% block content %}
<div class="container2" style="position:absolute; top: 30%; left: 40%; width: 20vw">
    <h2>Doctor Details</h2>
    <p><strong>First Name:</strong> {{ doctor.user_id.first_name }}</p>
    <p><strong>Last Name:</strong> {{ doctor.user_id.last_name }}</p>
    <p><strong>Phone Number:</strong> {{ doctor.phone_number }}</p>

    <h3>Specializations:</h3>
    <ul>
        {% for specialization in specializations %}
            <li>{{ specialization.name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
