{% extends "base_patient.html" %}  
{% comment %}
    czy to nie powinno po jakimś innym ogólniejszym base dziedziczyć?
    i robić powrót do poprzedniej strony?
{% endcomment %}

{% block content %}
    <div class="container2" style="position:absolute; top: 30%; left: 30%; width: 40vw"  >
        <h2>Facility Details</h2>
        <p><strong>Street Address:</strong> {{ object.street_address }}</p>
        <p><strong>Postal Code:</strong> {{ object.postal_code }}</p>
        <p><strong>City:</strong> {{ object.city }}</p>
        <p><strong>Voivodeship:</strong> {{ object.get_voivodeship_display }}</p>
    </div>
{% endblock %}
