{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'hover.css' %}">  
        <link rel="stylesheet" type="text/css" href="{% static 'patient.css' %}">       
    </head>
<body>
    <div id="container" style="left:30vw; top: 0vh; ">
        <form action="{% url 'doctor_dashboard' %}">
            {% csrf_token %}
            <button type="submit" id="topright">Strona Główna</button>
        </form>
        &nbsp;
        <form action="{% url 'doctor_detail' %}">
            {% csrf_token %}
            <button type="submit" id="topright">{{ user.first_name }} {{ user.last_name }}</button>
        </form>
        &nbsp;
        <form action="{% url 'doctor_availability' %}">
            {% csrf_token %}
            <button type="submit" id="topright">Dostępność</button>
        </form>
        &nbsp;
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" id="topright">Wyloguj</button>
        </form>       
    </div>
    
    <div class="container1" style="left:(50% - 250px)">
        <h1 style="text-align: center;">
            <div class="title" style="font-size: 25px; top:0;">PROMED</div>
            <div style="font-size: 15px; margin-bottom: 20px;">Portal pracownika</div>
        </h1>
    </div>
    {% block content %}
    {% endblock %}
</html>