{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'hover.css' %}">        
    </head>
<body>
<!-- tutaj będzie navbar, tylko muszę ogarnąć jak wydobywac info o tym czy to pacjent czy lekarz    --- Natalia, uważasz, że mogę ściągać to z views.py jakoś czy raczej inaczej? -->
    <div class="container1">
        <h1 style="text-align: center;">
            <div class="title">PROMED</div>
            <div class="title2">Zdrów jak dzik!</div>
        </h1>
    </div>
    
</body>
</html>