{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'hover.css' %}">
    </head>
<body class="body">
    <div class="container1">
        <h1 style="text-align: center;">
            <div class="title" style="font-size: 70px;">PROMED</div>
            <div style="font-size: 20px; margin-bottom: 10px;">Zdrów jak dzik!</div>
        </h1>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>