{% extends 'base_home.html' %}
{% load static %}
{% block content %}
<div class="container2">
    <div class="btn-help">
        <img src="{% static 'images/dzik_logo_2.png' %}" alt="Image" class="dzik-image">
        <div class="text-section">   
            <h2><a href="{% url 'patient_login'%}">Zaloguj się</a></h2>
        </div>
        <div class="text-section">   
            <h2><a href="{% url 'patient_register'%}">Zarejestruj się</a></h2>
        </div>
    </div>
</div>
{% endblock %}