{% extends 'base_home.html' %}
{% load static %}
{% block content %}
<div class="container2">
    <div class="btn-help">
        <img src="{% static 'images/logo_dzik.png' %}" alt="Image" class="dzik-image">
        <div class="text-section">   
            <h2><a href="{% url 'patient_login'%}">Logowanie</a></h2>
        </div>
        <div class="text-section">   
            <h2><a href="{% url 'register_user'%}">Rejestrowanie user'a</a></h2>
        </div>
    </div>
</div>
{% endblock %}