{% extends 'base_home_login.html' %}
{% load static %}
{% block content %}
<div class="container2" style="float: right; position: absolute; top: 0; right: 0; width: 150px;">
    <div class="btn-help">
        <img src="{% static 'images/logo_dzik.png' %}" alt="Image" class="dzik-image">
        <div class="text-section">   
            <ul class="menu">
                <li><a href="{% url 'patient' %}">Strona Główna</a></li>
                <li><a href="{% url 'visits' %}">Wizyty</a></li>
                <li><a href="{% url 'reservations' %}">Rezerwacje</a></li>
                <li><a href="{% url 'home' %}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
<main>
    <h2>Wizyty</h2>
    <ul class="appointments">
        <li>02/20/2023 - Dr. Smith - 10:00 AM</li>
        <li>02/25/2023 - Dr. Johnson - 1:00 PM</li>
        <li>03/01/2023 - Dr. Williams - 3:00 PM</li>
    </ul>
</main>

{% endblock %}