{% extends 'base_home_login.html' %}
{% load static %}
{% block content %}
<div class="container2" style="float: right; position: absolute; top: 0; right: 0; width: 150px;">
    <div class="btn-help">
        <img src="{% static 'images/logo_dzik.png' %}" alt="Image" class="dzik-image">
        <div class="text-section">   
            <ul class="menu">
                <li><a href="{% url 'patient' %}">Strona Główna</a></li>
                <li><a href="{% url 'visits' %}">Wizyty</a></li>
                <li><a href="{% url 'reservations' %}">Rezerwacje</a></li>
                <li><a href="{% url 'home' %}">Wyloguj</a></li>
            </ul>
        </div>
    </div>
</div>
<main>

</main>

{% endblock %}