body {
    font-family: Arial, sans-serif;
    background-color: rgb(135, 175, 228);
}

.title {
    font-family: fantasy;
    margin-bottom: 10px;
}

.container1 {
    width: 300px;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 154, 218);
    border: 1px solid #ccc;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
} 

.container2 {
    margin: auto;
    width: 300px;
    padding: 16px; 
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 154, 218);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container-info {
    margin: auto;
    width: 40vw;
    height: auto;
    padding: 16px; 
    top: 30%;
    background-color: rgb(66, 154, 218);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(30, 51, 155, 0.062);
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background-color: rgb(42, 223, 141);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}