/* BODY */
body {
    font-family: Avantgarde;
    background-color: rgb(135, 175, 228);
}

/* style the form */
#searchForm {
  background-color: #288da7;
  width: 100px;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;
 }
 
 /* style the form fields */
 #searchForm input,
 #searchForm select,
 #searchForm option {
  width: 100px;
  height: 20px;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #023b4b;
  box-sizing: border-box;
 }
 .custom-form-field {
  background-color: #add8e6;
  border: 1px solid #00008b;
  color: #8b0000;
}


/* NAVBAR - umiejscowienie oraz styl nav*/
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  height: 3vw;
  background-color: rgb(70, 157, 219);
  border: 1px solid #ccc;
  border-radius: 16px;
}
/* 
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li:last-child {
  float: right;
  margin-right: 10px
} */

.box {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  width: 1vw;
  height: 1vw;
  user-select: none;
  border: 4px solid;
  border-image-slice: 1;
  background-color: #313131;
}

/* HEADER - nagłówek - miejsce na nazwę strony i jej wygląd*/
header {
  width: 500px;
  left:(50% - 250px);
  height: 95px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(66, 154, 218);
  border: 1px solid #ccc;
  margin: auto;
  border-radius: 16px;
  line-height: 30px;
}

/* MAIN  box gdzie znajduje się główny materiał ( jeżeli używamy więcej jak jeden blok - columny)*/
main { 
  margin: auto;
  padding: 16px;
  display: grid;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }
 
 /* boczny panel - jeszcze nie wiem do czego ale jest na wszelki */
 aside {
  width:500px;
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 154, 218);
  border: 1px solid #ccc;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 
.title {
  font-family: Avantgarde; /* fantasy */
  margin-bottom: 10px;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  position: fixed;
  top: 0;
  width: 500px;
  height: 8vh;
  left:(50% - 250px);
  user-select: none;
  background-color: rgb(66, 154, 218);
  border: 1px solid #f7f1f1;
  border-radius: 16px;
}


/* Sekcje - jako główny blok  */
section { 
    width:500px; 
    left:(50% - 250px); 
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    background-color: rgb(66, 154, 218);
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.section-column{
  width:500px; 
  left:(50% - 250px); 
  margin: auto;
  padding: 16px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  background-color: rgb(66, 154, 218);
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
 
 .menu {
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 10px;
}

.menu li a {
  display: block;
  padding: 8px 16px;
  color: black;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #f2f2f2;
}

.appointments {
  list-style-type: none;
  padding: 0;
}

.appointments ul {
  display: flex;
  flex-wrap: wrap;
}
   
.appointments li {
  list-style-type: none;
  padding: 0;
}
 
.column2 {
  padding: 10px;
}
 
.appointments li {
  flex: 70%;
  padding: 10px;
}
 
.column2 {
  flex: 30%;
  padding: 10px;
}

/* Search css */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 500px;
  max-height: 35px;
}

.search_input {
  height: 30px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #caf5f3;
  color: #030431;
  box-shadow: 0 0 10px #a6f5e8, 0 0 0 5px #9cf8d9;
  transition: .3s ease;
}

.search_input::placeholder {
  color: #799793;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #799793;
  width: 1rem;
  height: 1rem;
}
/* end */
/* Do robienia linii */
hr.solid {
  border-top: 1px solid #dad7d7;
}


  /* Scroll bar */
.scroll-container {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* .scroll-container {
  width: 490px;
  height: 300px;
  overflow: auto;
} */

.scroll-container::-webkit-scrollbar {
  width: 0 !important; 
} 


/* button */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(30, 51, 155, 0.062);
    border-radius: 8px;
    box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: space-evenly;
}

button {
    background-color: rgb(69, 241, 184);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    max-height: 40px;
    line-height: 15px;
    text-justify: auto;
}

button:hover {
    opacity: 0.8;
}

  
.container input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

#topright {
  border-image-source: linear-gradient(45deg, #64a5f0, #36ebc4);
  color: white
}

.selected {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#topright:hover {
  border-image-source: linear-gradient(45deg, #64a5f0, #36ebc4);
  background: linear-gradient(45deg, #64a5f0, #36ebc4);
}

#topright input[type="radio"]:checked ~ .selected {
  box-shadow: -5px 5px 25px  #64a5f0,
                5px -5px 25px   #36ebc4;
}
/* end */

/* pop up message */
.popup-message {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  z-index: 1000;
}