body {
    font-family: Arial, sans-serif;
    background-color: rgb(168, 128, 90);
}

.title {
    font-size: 50px;
    margin-bottom: 10px;

}

.title2 {
    font-size: 20px;
    margin-bottom: 10px;

}

.container1 {
    width: 400px;
    padding: 16px;
    background-color: transparent;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
} 

.container2 {
    margin: auto;
    width: 400px;
    padding: 16px; 
    background-color: rgb(131, 73, 26);
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    background-color: rgb(230, 197, 49);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}