{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<section>
    <h2 style="text-align: center;">
        LOGOWANIE
    </h2>   

    {% if form.errors %}
    <p>Błąd logowania, niepoprawna nazwa użytownika lub hasło. Spróbuj ponownie.</p>
    {% endif %}    

    <form method="post" action="{% url 'patient_login' %}">
        {% csrf_token %}
        
        <label for="{{ form.username.id_for_label }}"><b>Login</b></label>
        {{ form.username }}

        <label for="{{ form.password.id_for_label }}"><b>Hasło</b></label>
        {{ form.password }}

        <button type="submit" id="topright">Zaloguj</button>
    </form>
    <p>
        <form action="{% url 'password_reset' %}">
            {% csrf_token %}
            <button type="submit" id="topright">Zapomniałeś hasła?</button>
        </form>
    </p>
</section>

{% endblock %}