{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<div class="container2" style="width:300px; left:(50% - 150px);">
    <h2 style="text-align: center;">
        BŁĄD LOGOWANIA
    </h2>

    <p>Logowanie zostało odrzucone. </p>
    <p>Podana nazwa użytkownika nie jest przypisane do żadnego konta pacjenta. Spróbuj ponownie.</p>

    <form action="{% url 'home' %}">
        {% csrf_token %}
        <button type="submit" id="topright">Powrót do strony głównej.</button>
    </form>
</div>
{% endblock %}
