{% extends 'base_home_login.html' %}
{% load static %}

{% block content %}
<div class="container2">
    <h2 style="text-align: center;">
        LOGOWANIE
    </h2>   

    {% if form.errors %}
    <p>Błąd logowania, niepoprawna nazwa użytownika lub hasło. Spróbuj ponownie.</p>
    {% endif %}    

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        
        <label for="{{ form.username.id_for_label }}"><b>Login</b></label>
        {{ form.username }}

        <label for="{{ form.password.id_for_label }}"><b>Hasło</b></label>
        {{ form.password }}

        <button type="submit"><a href="{% url 'patient-dashboard' %}">Zaloguj</a></button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>
    
</div>

{% endblock %}