{% extends 'base_home.html' %}

{% block content %}
    <div class="container2">
        <h2>Zmiana hasła</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Zmień hasło</button>
        </form>
        {% if messages %}
            {% for message in messages %}
            <div class="{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
