{% extends 'base_home.html' %}

{% block content %}
    {% if validlink %}
    <p>Proszę podać nowe hasło.</p>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
        <table>
            <tr>
                <td>{{ form.new_password1.errors }}
                    <label for="id_new_password1">Nowe hasło:</label></td>
                <td>{{ form.new_password1 }}</td>
            </tr>
            <tr>
                <td>{{ form.new_password2.errors }}
                    <label for="id_new_password2">Powtórz hasło:</label></td>
                <td>{{ form.new_password2 }}</td>
            </tr>
            <tr>
                <td></td>
                <td><button type="submit">Zmień hasło</button></td>
            </tr>
        </table>
    </form>
    {% else %}
    <h1>Błąd resetowania hasła</h1>
    <p>Link do zmiany hasła jest nieprawidłowy lub wygasł. Spróbuj ponownie.</p>
    {% endif %}
{% endblock %}
