{% extends "base_doctor.html" %}

{% block content %}
    <div class="container2">
        <h2>Informacje o Lekarzu</h2>
        <p><strong>Imię:</strong> {{ doctor.user_id.first_name }}</p>
        <p><strong>Nazwisko:</strong> {{ doctor.user_id.last_name }}</p>
        <p><strong>Numer Telefonu:</strong> {{ doctor.phone_number }}</p>

        <h3>Specjalizacja:</h3>
        <ul>
            {% for specialization in specializations %}
                <li>{{ specialization.name }}</li>
            {% endfor %}
        </ul>
        <p><a href="{% url 'doctor_password_change' %}">Zmień hasło</a></p>
    </div>
{% endblock %}
