{% extends 'base_doctor.html' %}
{% load static %}
{% block content %}

<div class="container2">
    <h2>Nadchodzące wizyty</h2>  
    {% if reserved_appointments %}
        <h3>Zarezerwowane</h3>
        <form action="" method="get">
            {% csrf_token %}
            <input placeholder="Search" type="search" class="search_input" name="search_reserved" value="{{ search_reserved }}">
            <button type="submit" id="topright">Search</button>
        </form>
        {% regroup reserved_appointments by service_id.specialzation_id as grouped_appointments %}
        {% for specialization, appointments in grouped_appointments %}
            <h3>{{ specialization }}</h3>
            <div style="width: 500px; height: auto; overflow: auto;">
                <ul class="appointments">
                    {% for appointment in appointments %} 
                    <a href="{% url 'detail_cancel_appointment' pk=appointment.id %}" style="text-decoration: none; color: white">
                        <li>        
                            {{ appointment.patient_id }}
                        </li>
                        <li>        
                            {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                        </li></a>
                        {% comment %}
                        <li>
                            <form action="{% url 'detail_cancel_appointment' pk=appointment.id %}">
                                {% csrf_token %}
                                <button type="submit" id="topright">Szczegóły</button>
                            </form>
                        </li>
                        {% endcomment %}
                        <br>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Brak nadchodzących zarezerwowanych wizyt.</p>
    {% endif %}  

    {% if available_appointments %}
        <h3>Dostępne</h3>
        <form action="" method="get">
            {% csrf_token %}
            <input placeholder="Search" type="search" class="search_input" name="search_available" value="{{ search_available }}">
            <button type="submit" id="topright">Search</button>
        </form>
        {% regroup available_appointments by service_id.specialzation_id as grouped_appointments %}
        {% for specialization, appointments in grouped_appointments %}
            <h3>{{ specialization }}</h3>
            <div style="width: 500px; height: 300px; overflow: auto;">
                <ul class="appointments">
                    {% for appointment in appointments %} 
                    <a href="{% url 'detail_cancel_appointment' pk=appointment.id %}" style="text-decoration: none; color: white">
                        <li>        
                            {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                        </li>
                        {% comment %}
                        <li>
                            <form action="{% url 'detail_cancel_appointment' pk=appointment.id %}">
                                {% csrf_token %}
                                <button type="submit" id="topright">Szczegóły</button>
                            </form>
                        </li></a>
                        {% endcomment %}
                        <br>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Brak dostępnych wizyt.</p>
    {% endif %} 
    <h3>Przeszłe wizyty</h3> 
    <form action="{% url 'doctor_past_appointments' %}">
        {% csrf_token %}
        <button type="submit" id="topright">Przeszłe wizyty</button>
    </form>

    </div>

{% endblock %}
