{% extends 'base_doctor.html' %}
{% load static %}
{% block content %}

<section >
    <h2>Przeszłe wizyty</h2>
    <form action="" method="get">
        {% csrf_token %}
        <input placeholder="Search" type="search" class="search_input" name="search_past" value="{{ search_past }}">
        <button type="submit" id="topright">Search</button>
    </form>
    {% if past_appointments %}
        {% regroup past_appointments by service_id.specialzation_id as grouped_past_appointments %}
        {% for specialization, appointments in grouped_past_appointments %}
            <h3>{{ specialization }}</h3>
            <div style="width: 490px; height: 300px; overflow: auto;">
                <ul class="appointments">  
                    {% for appointment in appointments %} 
                        <a href="{% url 'appointment_detail_doctor' pk=appointment.id %}"  style="text-decoration: none; color: white">
                            <li>        
                                {{ appointment.patient_id }}
                            </li>
                            <li>        
                                {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                            </li>
                        </a>
                        <br>
                    {% endfor %}
                    <p>Liczba wizyt: {{ appointments|length }}</p>
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Brak przeszłych wizyt.</p>
    {% endif %} 
</section>

{% endblock %}
