{% extends 'base_doctor.html' %}
{% load static %}
{% block content %}

<div class="container2">
    <h2>Przeszłe wizyty</h2>
    {% if past_appointments %}
        {% regroup past_appointments by service_id.specialzation_id as grouped_past_appointments %}
        {% for specialization, appointments in grouped_past_appointments %}
            <h3>{{ specialization }}</h3>
            <ul class="appointments">
                {% for appointment in appointments %} 
                    <li>        
                        {{ appointment.patient_id }}
                    </li>
                    <li>        
                        {{ appointment.formatted_appointment_time }} - {{ appointment.facility_id }}
                    </li>
                    <li>
                        <form action="{% url 'appointment_detail' pk=appointment.id %}">
                            {% csrf_token %}
                            <button type="submit" id="topright">Szczegóły</button>
                        </form>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% endfor %}
    {% else %}
        <p>Brak przeszłych wizyt.</p>
    {% endif %} 
</div>

{% endblock %}
