{% extends "base_doctor.html" %}

{% block content %}
    <section>
        <h2 style="font-size: large; font-weight: bold;">Informacje o Lekarzu</h2>
        <p><strong>Imię:</strong> {{ doctor.user_id.first_name }}</p>
        <p><strong>Nazwisko:</strong> {{ doctor.user_id.last_name }}</p>
        <p><strong>Numer Telefonu:</strong> {{ doctor.phone_number }}</p>

        <h3 style="font-size: medium; font-weight: bold;">Specjalizacja:</h3>
        <ul>
            {% for specialization in specializations %}
                <li style="font-size: 14px;">{{ specialization.name }}</li>
            {% endfor %}
        </ul>
        <div class="button-container">
            <form action="{% url 'doctor_change_phone_number' %}">
                {% csrf_token %}
                <button type="submit" id="topright">Zmień numer nelefonu</button>
            </form>
            &nbsp;
            <form action="{% url 'doctor_password_change' %}">
                {% csrf_token %}
                <button type="submit" id="topright">Zmień hasło</button>
            </form>
        </div>
    </section>
{% endblock %}
