{% extends 'base_home.html' %}
{% load static %}

{% block content %}
<div>
    <h1 style="text-align: center;">
        <div class="title" style="font-size: 15px;">Portal pracownika</div>
    </h1>
</div>
<section >
    <div class="btn-help" style="width:500px; left:(50%-250px)">
        <img src="{% static 'images/dzik_logo_2.png' %}" alt="Image" class="dzik-image">
        <div class="text-section">   
            <h2>
                <form action="{% url 'doctor_login' %}">
                    {% csrf_token %}
                    <button type="submit" id="topright" style="width:200px; height: 50px;">Zaloguj się</button>
                </form>
            </h2>
        </div>
    </div>
</section>
{% endblock %}